In [2]:
import pandas as pd
data = {
    'age': ['<=30', '<=30', '31...40', '>40', '>40', '>40', '31...40', '<=30', '<=30', '>40', '<=30', '31...40', '31...40', '>40'],
    'income': ['high', 'high', 'high', 'medium', 'low', 'low', 'low', 'medium', 'low', 'medium', 'medium', 'medium', 'high', 'medium'],
    'student': ['no', 'no', 'no', 'no', 'yes', 'yes', 'yes', 'no', 'yes', 'yes', 'yes', 'no', 'yes', 'no'],
    'credit_rating': ['fair', 'excellent', 'fair', 'fair', 'fair', 'excellent', 'excellent', 'fair', 'fair', 'fair', 'excellent', 'excellent', 'fair', 'excellent'],
    'buys_computer': ['no', 'no', 'yes', 'yes', 'yes', 'no', 'yes', 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 'no']
}
df = pd.DataFrame(data)
df

        age  income student credit_rating buys_computer
0      <=30    high      no          fair            no
1      <=30    high      no     excellent            no
2   31...40    high      no          fair           yes
3       >40  medium      no          fair           yes
4       >40     low     yes          fair           yes
5       >40     low     yes     excellent            no
6   31...40     low     yes     excellent           yes
7      <=30  medium      no          fair            no
8      <=30     low     yes          fair           yes
9       >40  medium     yes          fair           yes
10     <=30  medium     yes     excellent           yes
11  31...40  medium      no     excellent           yes
12  31...40    high     yes          fair           yes
13      >40  medium      no     excellent            no

In [3]:
total_instances = len(df)
prior_yes = df['buys_computer'].value_counts()['yes'] / total_instances
prior_no = df['buys_computer'].value_counts()['no'] / total_instances

print(f'Prior probability for buys_computer = yes: {prior_yes:.4f}')
print(f'Prior probability for buys_computer = no: {prior_no:.4f}')

Prior probability for buys_computer = yes: 0.6429
Prior probability for buys_computer = no: 0.3571

In [4]:
total_instances = len(df)
income_classes = df['income'].unique()

for income_class in income_classes:
    prior_income = df[df['income'] == income_class].shape[0] / total_instances
    print(f'Prior probability for income = {income_class}: {prior_income:.4f}')

Prior probability for income = high: 0.2857
Prior probability for income = medium: 0.4286
Prior probability for income = low: 0.2857

In [5]:
total_instances = len(df)
student_classes = df['student'].unique()

for student_class in student_classes:
    prior_student = df[df['student'] == student_class].shape[0] / total_instances
    print(f'Prior probability for student = {student_class}: {prior_student:.4f}')

Prior probability for student = no: 0.5000
Prior probability for student = yes: 0.5000

In [6]:
total_instances = len(df)
credit_rating_classes = df['credit_rating'].unique()

for credit_rating_class in credit_rating_classes:
    prior_credit_rating = df[df['credit_rating'] == credit_rating_class].shape[0] / total_instances
    print(f'Prior probability for credit_rating = {credit_rating_class}: {prior_credit_rating:.4f}')

Prior probability for credit_rating = fair: 0.5714
Prior probability for credit_rating = excellent: 0.4286